cython
kaggle
matplotlib
numpy
openai
pandas
plotly
#psycopg2
psycopg2-binary
scikit-learn
scipy
seaborn
sentence-transformers
sentencepiece
sqlalchemy
tenacity
tensorflow
tiktoken
torch
torchvision
transformers
wandb